<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title></title>
</head>
{% from "_formhelpers.html" import render_field %}
<body>
<h1>Register</h1>
<form action="{{ url_for('register') }}" method="post">
{{ register_form.csrf_token }}
<dl>
    {{ render_field(register_form.username) }}
    {{ render_field(register_form.password) }}
    {{ render_field(register_form.confirm) }}
    {{ render_field(register_form.age) }}
    {{ render_field(register_form.register) }}
  </dl>
</form>

  <h1>Login</h1>
  <form action="{{ url_for('login') }}" method="post">
  {{ login_form.csrf_token }}
    <dl>
    {{ render_field(login_form.username) }}
    {{ render_field(login_form.password) }}
    {{ render_field(login_form.login) }}
    </dl>
  </form>



<hr>
<address></address>
<!-- hhmts start -->Last modified: Mon May 28 15:23:04 PDT 2018 <!-- hhmts end -->
</body> </html>
